[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
flake8 = "*"
pylint = "*"
sphinx = "*"
sphinx-rtd-theme = "*"
jupyter = "*"

[packages]
django = "*"
django-split-settings = "*"
psycopg2 = "*"
celery = "*"
mtgsdk = "*"

[requires]
python_version = "3.7"
