[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
flake8 = "*"
pylint = "*"
sphinx = "*"
sphinx-rtd-theme = "*"
jupyter = "*"

[packages]
django = "*"
django-split-settings = "*"
psycopg2 = "*"
djangorestframework = "*"
markdown = "*"
django-filter = "*"
celery = "*"
mtgsdk = "*"

[requires]
python_version = "3.7"
